.inp{
    width: 500px;
  }

  .card{
    background-color: whitesmoke;
    border: none;
    
  }
  
  .recovered:hover {
    background-color:rgb(111, 250, 111);
    
  }

  .confirmed:hover {
    background-color:rgb(255, 109, 109);
  }

  .active:hover {
    background-color:rgb(137, 154, 255);
  }

  .deceased:hover {
    background-color:rgb(182, 180, 180);
  }

  h1{
    padding:5px;
    margin:50px;
    color:rgb(133, 129, 129);
  }

  .head{
    text-align: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
  }