
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side"  opened class="Navigation">

        <div class="logo">
                <h3> Covid 19  India </h3>
        </div>
        
        <div class="Navigation-list">
            <mat-nav-list>
                <mat-list-item>
                       
                   <a matLine routerLink="home"><mat-icon>home</mat-icon> Home</a>
                  <!-- <button mat-icon-button (click)="showInfo(link)"> -->
                      
                   <!--  </button> -->
                </mat-list-item>
                <mat-list-item>
                    
                    <a matLine href="#"><mat-icon>text_snippet</mat-icon> Blog</a>
                   <!-- <button mat-icon-button (click)="showInfo(link)"> -->
                      
                    <!--  </button> -->
                 </mat-list-item>
                 <mat-list-item>
                    
                    <a matLine routerLink="about"><mat-icon>insert_emoticonme</mat-icon> About</a>
                   <!-- <button mat-icon-button (click)="showInfo(link)"> -->
                       
                    <!--  </button> -->
                 </mat-list-item>
              </mat-nav-list>
        </div>


    </mat-sidenav>



    <mat-sidenav-content class="MainContent" >
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
