.example-container {
    height: 100%;
}

.Navigation{
    width: 8%;
    background-color:rgb(229, 233, 236);
}

.MainContent{
    background-color: whitesmoke;
}

.logo{
    padding:8px;
    margin-top:20px;
}

.Navigation-list{
    margin-top:20px;
}
