<p>home works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="inp">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="Searchvalue" (keyup)="quickSearch()">
                <button mat-button *ngIf="Searchvalue" matSuffix mat-icon-button aria-label="Clear" (click)="Searchvalue=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

            <ag-grid-angular
              style="width: 1100px; height: 1700px; padding: 1px;"
              class="ag-theme-alpine"
              [rowData]="StateData['statewise']"
              [columnDefs]="columnDefs"
              [animateRows]="true"
              (gridReady)="OnGridReady($event)"
             >
            </ag-grid-angular>
        </div>

        
    </div>
</div>
